.collector {
    display: flex;
    margin: 3rem;
}

.bot-body {
    width: 400px;
    height: 500px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.5s ease;
}
.part-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 1rem;
}

.bot-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    background-color: white;
    font-size: 2rem;
    color: rgb(13, 13, 78);
    border-radius: 50%;
}

.first, .second {
    transition: all .5s ease;
}

@media only screen and (max-width: 540px) {
    .collector{
        margin:0;
        position: relative;
        
    }
    .icon {
        position: absolute;
        bottom: 4rem;
        right: 1rem;
    }
    .bot-icon{
        background-color: rgb(213, 198, 198);
    }

    .bot-body {
        width: 100vw;
        height: 100vh;
    }

}