.bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.bottom-body {
    display: flex;
    height: 3rem;
}

.input-wrap {
    flex: 3;
    display: flex;
    background-color: #fff;
    padding-left: 1rem;
    border-top: 1px solid #000066;
}

input {
    border: none;
    outline: none;
}

.btn {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #000066;
    color: white
}
button {
    background: inherit;
    border: none;
    color: inherit;
    cursor: pointer;
}